@media screen and (max-width: 768px) { 
    .desaparecer{
        display: none;
    }
    .logo{
        width: 10px;
        height: auto;
    }
}


@media screen and (max-width: 500px) {
    .desaparecer{
        display: none;
    }
    .logo{
        width: 10px;
        height: auto;
    }
}
