.pelucas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo1 titulo2"
    "lista1 lista2";
}
.titulo1{
    grid-area: "titulo1";
}
.titulo2{
    grid-area: "titulo2";
}
.lista1{
    grid-area: "lista1";
}
.lista2{
    grid-area: "lista2";
}