@import "estilosgenerales";
@import "quienessomos";
@import "quieroayudar";
@import "mediaqueries";
.borde{
    border: #F24BA7 10px solid;
}
form{
    background-color: #F299CA;
    padding: 10px;
}
